{{#each post in controller}}
  <div class="post">
    <div class="voting-block">
      <button {{bind-attr class=":upvote post.upVoted:active"}} {{action 'addUpVote'}}>⬆</button>
      <span class="netVotes">{{post.netVotes}}</span>
      <button {{bind-attr class=":downvote post.downVoted:active"}} {{action 'addDownVote'}}>⬇</button>
    </div>
    <h3>
      <a {{bind-attr href=post.url title=post.title}} target="_blank">
        {{post.title}}
      </a>
    </h3>
    <p>{{#link-to 'post' post}}View Comments{{/link-to}}</p>
  </div>
{{/each}}
